# Файлы, сгенерированные Python
__pycache__/
*.py[cod]
*$py.class

# Файлы виртуального окружения
venv/
.env/

# Файлы сборки и дистрибуции
build/
dist/
*.egg-info/
*.spec

# Логи и временные файлы
*.log
*.tmp
*.bak
*.swp

# Кэшевые и временные файлы PySide
*.pyc
*.pyo
*.~*

# Файлы конфигурации IDE PyCharm
.idea/
*.iml

# Файлы системы контроля версий
.git/

# Прочее
output/
